{% extends "base.html" %}
{% block title_content %}
Photo Portfolio
{% endblock %}
{% block body_content %}
    <div class="jumbotron">
      <div class="container">
<h1>Edit your Photo</h1>
{% if photo %}
<p>Name: {{photo.name}}</p>
<p>Photographer: {{photo.photographer}}</p>
		<div>
		 <img src="{{photo.photo.url}}" alt="{{photo.name}}">
		<a class="btn-danger" href="{% url 'account_photos_delete' %}{{ photo.id }}"> link</a>
		</div>

{% else %}
<p>photo does not exist</p>
{% endif %}
	</div>

</div>

{% endblock %}