<form class="form-model" action="{% url 'account_photos_edit' photo.id %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
	{% csrf_token %}
	
            {% for f in form.visible_fields %}
            <label>
            {{ f.help_text }}
            {{ f }}
            </label>
            {{ f.errors }}

            <hr>
            {% endfor %}
	<hr>

		<input class="btn btn-success" type="submit" >
	</form>
	</div>
</div>