{% extends "base.html" %}
{% block title_content %}
Portfolio Account
{% endblock %}
{% block body_content %}
    <div class="jumbotron">
      <div class="container">
<h1>Account for {{user.username}}</h1>
 <a class="btn btn-success" href="{% url 'account_edit' %}">
 	Edit account
 </a>
<a class="btn btn-success" href="{% url 'upload' %}">Upload Image</a>

</div>
</div>

<div class="container account-photos">
	{% if photos %}
	<h1>All Photographs</h1>
		{% if photos|length > 0 %}
			<div class="container">
			{% for p in photos %}
				<div class='photo-container'>
					<div class="img-wrapper">
				 		<a href="{% url 'photos' p.id %}">
							 <img src="{{p.photo.url}}" alt="{{p.name}}">
						</a>
					</div>
					<div class="photo-info">
						<p>Photo {{p.name}}</p>
						<a class="btn btn-warning" href="{% url 'account_photos_edit' p.id %}">edit</a>
						<a class="btn btn-danger" href="{% url 'account_photos_delete' p.id %}"> delete </a> 
					</div>
				</div>
			{% endfor %}
			</div>
		{% else %}
			<p>No photos</p>
		{% endif %}
		{% elif photo %}
			<h1>Photo</h1>
			<p>Name: {{photo.name}}</p>
			<p>Photographer: {{photo.photographer.user.username}}</p>
			<div>
			<img src="{{photo.photo.url}}" alt="{{photo.name}}">

			</div>
			<a class="btn btn-danger" href="{% url 'account_photos_delete' %}{{ photo.id }}"> delete photo </a> 
			<a class="btn btn-warning" href="{% url 'account_photos_edit' photo.id %}"> edit photo </a>
		{% else %}
			<h1>Photo Not Found</h1>
			<p>photo not found</p>
		{% endif %}

	</div>
{% endblock %}