{% extends "base.html" %}
{% block title_content %}
Photos
{% endblock %}
{% block body_content %}
	<div class="container">
				<h1>Photo</h1>
		<div class="row">
			<div class="col-sm-6 form-model">
				<div class="photo-container">
				<p>Name: {{photo.name}}</p>
				<p>Photographer: {{photo.photographer}}</p>
				<div>
				<img src="{{photo.photo.url}}" alt="{{photo.name}}">
				<a class="btn btn-danger" href="{% url 'account_photos_delete' %}{{ photo.id }}"> delete photo </a>
				</div>
				</div>
			</div>
			<div class="col-sm-6 form-container">
				{% include "portfolio/account_photos_edit_form.html" %}
			</div>
		</div>
	</div>
<div class="container">
	<div id="canvas-holder">
		<canvas id="canvas"></canvas>
	</div>
</div>

{% endblock %}

{% block inline_script %}
<script type="text/javascript" charset="utf-8">
	$(function(){
		window.photoEditor=initPhotoEditor();
	});
</script>
{% endblock %}
