{% extends "base.html" %}
{% block title_content %}
Photo delete
{% endblock %}
{% block register %}{% endblock %}

{% block body_content %}
    <div class="jumbotron">
      <div class="container">
      <h1>delete</h1>
	<hr>

        <p>Name: {{photo.name}}</p>
        <p>Photographer: {{photo.photographer.user.username}}</p>
        <div>
            <img src="{{photo.photo.url}}" alt="{{p.name}}">
        </div>

<form action="{% url 'account_photos_delete' %}{{ photo.id }}" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
	{% csrf_token %}
	
		
    <input id="delete-photo" class="btn btn-danger" type="submit" value="Delete this image">
	</form>
	</div>
</div>

{% endblock %}
