{% extends "base.html" %}
{% block title_content %}
Photo Portfolio
{% endblock %}
{% block body_content %}
      <div class="container index">
<h1>Images from Multiple Portfolios</h1>
{% if photos %}

<div class="container">
{% for p in photos %}
	<div class='photo-container'>
	<div class="img-wrapper">
	 	<a href="{% url 'photos' p.id %}">
			 <img src="{{p.photo.url}}" alt="{{p.name}}">
		</a>
		</div>
		<div class="photo-info">
		<p > <a href="{% url 'photos' p.id %}">{{p.name}}</a> by <a href="{% url 'photographers' p.photographer.id %}"> {{p.photographer.user.username}}</a> </p>
		</div>
	</div>
{% endfor %}
</div>


<!-- </section> -->

{% else %}
<div>
No Photos	
</div>
{% endif %}
</div>

{% endblock %}

{% block inline_script %}
<script>
$(function(){
	console.log('load');
		$.each($('.photo-container'), function(index, val) {
			console.log('k');
		$val=$(val);
		var $i = $($val.find('img'));
		console.log($i, $val);
		if ($i.width()>$i.height()) {
			$val.addClass('w-x-h');
		}else{
		 $val.addClass('h-x-w');
		}
		$val.removeClass('u-x-u');
	});

$( window ).resize(function() {

	console.log($(window).width());
//   if($( window ).height() <= 400){
//   	$(".photo-container img").each(function(index, val) {
//   		console.log(index, val);
//   	});
//   $( ".photo-container" ).css({'min-height': '300px'});
//  } else {
//   $( ".photo-container" ).css({'min-height': '600px'});
//  }
// });
});
});
</script>
{% endblock %}