	<div class='photo-container'>
	<div class="img-wrapper">
	 	<a href="{% url 'photos' p.id %}">
			 <img src="{{p.photo.url}}" alt="{{p.name}}">
		</a>
		</div>
		<div class="photo-info">
		<p > <a href="{% url 'photos' p.id %}">{{p.name}}</a> by <a href="{% url 'photographers' p.photographer.id %}"> {{p.photographer.user.username}}</a> </p>
		</div>
	</div>