{% extends "base.html" %}
{% block title_content %}
Photos
{% endblock %}
{% block body_content %}
	<div class="container">
		{% if photographers %}
			<h1>All Photographs</h1>
			{% if photographers|length > 0 %}
			<section id="photos">
				{% for photographer in photographers %}

{% include 'portfolio/photographer_include.html' %}



				{% endfor %}
			</section>
			{% else %}
			<p>No photographers</p>
			{% endif %}
		{% elif photographer %}
			<h1>Photographer</h1>
{% include 'portfolio/photographer_include.html' %}

		{% else %}
			<h1>Photo Not Found</h1>
			<p>photo not found</p>
		{% endif %}

	</div>
{% endblock %}