{% extends "base.html" %}
{% block title_content %}
Photos
{% endblock %}
{% block body_content %}
	<div class="container photos-view">
		{% if photos %}
			<h1>All Photographs</h1>

	    <!-- Carousel
	    ================================================== -->
	    <div id="myCarousel" class="carousel slide" data-ride="carousel">
	      <!-- Indicators -->
	      <ol class="carousel-indicators">

	      </ol>
	      <div class="carousel-inner">

	      </div>
	      <a class="left carousel-control" href="{% url 'photos' %}#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	      <a class="right carousel-control" href="{% url 'photos' %}#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	    </div><!-- /.carousel -->

			{% if photos|length > 0 %}



<div class="container">
{% for p in photos %}
	<div class='photo-container'>
	<div class="img-wrapper">
	 	<a href="{% url 'photos' p.id %}">
			 <img src="{{p.photo.url}}" alt="{{p.name}}">
		</a>
		</div>
		<div class="photo-info">
		<p > <a href="{% url 'photos' p.id %}">{{p.name}}</a> by <a href="{% url 'photographers' p.photographer.id %}"> {{p.photographer.user.username}}</a> </p>
		</div>
	</div>
{% endfor %}
</div>





			{% else %}
			<p>No photos</p>
			{% endif %}
		{% elif photo %}
			<h1>Photo</h1>
			<p>Name: {{photo.name}}</p>
			<p>Photographer: <a href="{% url 'photographers' photo.photographer.id %}"> {{photo.photographer.user.username}}</a> </p>
			<div>
			<img src="{{photo.photo.url}}" alt="{{photo.name}}">
			</div>
		{% else %}
			<h1>Photo Not Found</h1>
			<p>photo not found</p>
		{% endif %}

	</div>
{% endblock %}


{%if photos %}
{% if photos|length > 0 %}
	{% block inline_script %}
		<script>

$(function(){
		console.log('test');
		var slideshowPhotos=[
		{% for p in photos %}
		{
			'src': "{{p.photo.url}}",
			"alt": "{{p.name}}",
		},	
		{% endfor %}

		];

		var make_li=function(i){
			var l = null;
			if(i===0){
				l= '<li data-target="#myCarousel" data-slide-to="'+i+'" class="active"></li>';
			}else{
				l='<li data-target="#myCarousel" data-slide-to="'+i+'"></li>'; 
			}
			return l;
		};
		var make_item=function(i, v){
			var d = $('<div class="item">');
			if (i===0) {
				d.addClass('active');
			}
			d.append('<img data-src="holder.js/900x500/auto/#666:#6a6a6a" src="'+v['src']+'">');
			return d;
		};
		var carouselIndicator=$($('ol.carousel-indicators')[0]);
		var carouselInner=$($('div.carousel-inner')[0]);
		$.each(slideshowPhotos, function( index, value ) {
			carouselIndicator.append(make_li(index));
			carouselInner.append(make_item(index,value));
			console.log(index);
		});
	});
		</script>
	{% endblock %}
{% endif %}
{% endif %}