	<div class='photographer-container'>
	<img src="{{p.photo.url}}" alt="{{p.name}}">
	<div class="photographer-info">
	<ul>
		<li>
			 Username: <a href="{% url 'photographers' photographer.id %}"> {{photographer.user.username}}</a>
		</li>
		<li>
			 About:  {{photographer.about}}
		</li>
		<li>
			 Picture:  {{photographer.picture}}
		</li>
	</ul>
		  </p>
		</div>
	</div>