{% extends "base.html" %}
{% block title_content %}
Account Registration
{% endblock %}
{% block register %}{% endblock %}

{% block body_content %}
    <div class="jumbotron">
      <div class="container">
      <h1>Register</h1>
	<hr>
		<form action="{% url 'register' %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
			{% csrf_token %}
      {% for f in user_form.visible_fields %}
       {{ f.errors }}
       <label>
        {{ f.help_text }}
        {{ f }}
       </label>
      {% endfor %}
      {% for f in photographer_form.visible_fields %}
       {{ f.errors }}
       <label>
        {{ f.help_text }}
        {{ f }}
       </label>
      {% endfor %}
	<hr>
		<input class="btn-success" type="submit" >
	</form>
	</div>
</div>

{% endblock %}