<form action="{% url 'search_for' %}" method="get" accept-charset="utf-8">

    <fieldset>
        <label>All
            <input type="radio" checked="checked" name="search_type" value="all" placeholder="all">
        </label>
        <label>Photo
            <input type="radio" name="search_type" value="photo" placeholder="photo">
        </label>
        <label>Photographer
            <input type="radio" name="search_type" value="photographer" placeholder="photographer">
        </label>
    </fieldset>
    <fieldset>
        <input type="text" name="search_query" value="" placeholder="search term">
    </fieldset>
    <input type="submit">
</form>
