{% extends "base.html" %}
{% block title_content %}
Photos
{% endblock %}
{% block body_content %}
<div class="container">
	<div class="container">
				<h2>Search</h2>
			<div class="form-container">
				{% include "portfolio/search_form.html" %}
			</div>
	</div>
	<div class="container"  id="search-results">
	{% if results_for %}
	<h2> Results for {{ results_for }}</h2>  
		{% if photos or photographers %}
    		{% if photos %}
				<div class="container photos-view">
		    	<h3>Photos</h3>
				{% for p in photos %}
					<div class='photo-container'>
					<div class="img-wrapper">
					 	<a href="{% url 'photos' p.id %}">
							 <img src="{{p.photo.url}}" alt="{{p.name}}">
						</a>
						</div>
						<div class="photo-info">
						<p > <a href="{% url 'photos' p.id %}">{{p.name}}</a> by <a href="{% url 'photographers' p.photographer.id %}"> {{p.photographer.user.username}}</a> </p>
						</div>
					</div>
				{% endfor %}
				</div>
		    {% endif %}
    		<hr>
		    {% if photographers %}
	  		<div class="container">
		    <h3>Photographers</h3>
	  			<ul>
				{% for photographer in photographers %}
					<li>Username: <a href="{% url 'photographers' photographer.id %}"> {{photographer.user.username}}</a></li>
				{% endfor %}
				</ul>
			</div>
    		{% endif %}
		{% else %}
			<p>No results</p>
	    {% endif %}
	{% endif %}
	</div>
</div>
{% endblock %}

{% block inline_script %}
<script type="text/javascript" charset="utf-8">
</script>
{% endblock %}
