{% extends "base.html" %}
{% block title_content %}
Photo Upload
{% endblock %}
{% block register %}{% endblock %}

{% block body_content %}
    <div class="jumbotron">
      <div class="container">
      <h1>Register</h1>
	<hr>

<form action="{% url 'upload' %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
	{% csrf_token %}
	
            {% for f in form.visible_fields %}
            {{ f.help_text }}
            {{ f.errors }}
            {{ f }}
            {% endfor %}
	<hr>
		<input class="btn-success" type="submit" >
	</form>
	</div>
</div>

{% endblock %}
