

/* ==========================================================================
   Author's custom styles
   ========================================================================== */





#photos div{
	display: inline-block;
}

.img-holder{
  border-radius: 10px;
  border: 1px solid #777;
}

.img-holder p{
  display: inline-block;
  font-size: 0.7em;
  padding: 1px;
}

.navbar .form-group{
  width: 100px;
}

/*.navbar form{
  width: 340px;
}*/

.navbar .container{
  max-width: 1000px;
}

.account-photos .photo-container, .photos-view .photo-container, .index .photo-container{



  border-radius: 15px;
  display: inline-block;
  overflow: hidden;
  min-width: 120px;
  height: 240px;
    width: 49%;
    background-color: #eee;
    /*border: 1px solid #ddd;*/

    position: relative;
}

.account-photos .photo-container img, .photos-view .photo-container img, .index .photo-container img{
  width: 100%;
  height: auto;
}

.account-photos .img-wrapper, .photos-view .img-wrapper, .index .img-wrapper{
    width: 100%;
  height: auto;
  background-color: #000;
  max-height: 200px;
  overflow: hidden;
    margin: 0 auto;
    display: inline-block;
}

.photo-info{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.photo-info p {
  text-align: center;
}

@media all and (min-width: 0px) {
  .account-photos .photo-container, .photos-view .photo-container, .index .photo-container{
    width: 100%;
  }
}

@media all and (min-width: 360px) {
  .account-photos .photo-container, .photos-view .photo-container, .index .photo-container{
    width: 49%;
  }
}

@media all and (min-width: 760px) {
 .account-photos .photo-container, .photos-view .photo-container,  .index .photo-container{
    width: 32%;
  }
}


@media all and (min-width: 1024px) {
  .account-photos .photo-container, .photos-view .photo-container,  .index .photo-container{
    width: 24%;
  } 
}





.carousel {
  height: 240px;
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
}


.carousel .item {
  height: 240px;
  background-color: #777;
  overflow: hidden;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}

li{
  list-style: none;
}





/*.photo-container{
  background-color: #fff;
  overflow: hidden;
  max-width: 240px;
  min-width: 120px;
  min-height: 120px;
  max-height: 240px;
}

.h-x-w img{
  width: 100%;
  height: auto;
}

.w-x-h img{

  height: 100%;
  width: auto;
}
*/
#canvas{
  border: 1px solid #000;
}


#canvas-holder{
  border: 1px solid #000;
}



ul.row li{
  list-style-type: none;
}


.form-model {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-model .form-model-heading,
.form-model .checkbox {
  margin-bottom: 10px;
}
.form-model .checkbox {
  font-weight: normal;
}
.form-model .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-model .form-control:focus {
  z-index: 2;
}
.form-model input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-model input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-model input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-model input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-model input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-model input[type="file"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}