{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
          {% block title_content %}
          {% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        {% block style %}
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% endblock %}

        <script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           {% if user.is_authenticated %}
                     <a class="navbar-brand" href="{% url 'account' %}">{{ user.username }}</a>

           {% else %}
          <a class="navbar-brand" href="#">Photo Portfolio</a>



                     {% endif %}

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">View<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'photos' %}">Photos</a></li>
                <li><a href="{% url 'photographers' %}">Photographers</a></li>
            <li ><a href="{% url 'portfolio_index' %}">Home</a></li>
              </ul>
            </li>



          {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'account' %}">View Account</a></li>
                <li><a href="{% url 'account_edit' %}">Edit Account</a></li>
                <li><a href="{% url 'account_photos' %}">Account Photos</a></li>
                <li><a href="{% url 'upload' %}">Upload Image</a></li>
              </ul>
            </li>
        {% endif %}
                  <li><a href="{% url 'search_for' %}">Search</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Random<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'random_p' 'photo' %}">Photo</a></li>
                <li><a href="{% url 'random_p' 'photographer' %}">Photographer</a></li>
              </ul>
            </li>
        {% if user.is_authenticated %}
          <li><a class="btn btn-warning" href="{% url 'logout' %}">Logout</a></li>

          </ul>
          {% else %}

</ul>



          <form method="post" action="{% url 'login' %}" class="navbar-form navbar-right">
                  {% csrf_token %}
            <div class="form-group">
              <input type="text" placeholder="username" name="username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
                    {% block register %}
        <a href="{% url 'register' %}" class="btn btn-success">Register</a>
    {% endblock %}

          </form>

        {% endif %}

        </div><!--/.navbar-collapse -->
      </div>
    </div>

     {% block body_content %}
     {% endblock %}

      <hr>

      <footer>
        <p>&copy; PhotoPortfolio 2014</p>
      </footer>
    </div> 
    <!-- /container -->        
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.10.1.min.js' %}"><\/script>')</script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

     {% block script %}
     {% endblock %}
        <script src="{% static 'js/main.js' %}"></script>

    {% block inline_script %}
    {% endblock %}

    </body>
</html>
